extends layout 
include _includes/sharedHTMLfunctions

block content 
   
   center
    h1 Product Details page 
        div.mar
            div.shadow-lg.p-3.bg-white.rounded.m-5
             Center  
                    //- h1 Lattest Release
                    div.row
                            .col-12.c.ml 
                                div.card.shadow-sm.mb-5.bg-white.rounded.text-decoration-none.pb-5
                                        div 
                                          a.bg-info.btn.btn-secondary(href='/update/' + currentSong._id style='margin-right:10px;') Edit

                                          a.bg-info.btn.btn-secondary(href='/delete/' + currentSong._id style='margin-right:10px;') Delete
                                          p Current song  is : #{currentSong.track} 

                                          p Genre : #{currentSong.genre}
                                          
                                          p Artist Name is : #{currentSong.artist_name} 

                                          p Current song price is : #{currentSong.price}$ 

                                          p Current song description is : #{currentSong.description}   

                                          p Song Created On :    
                                            span 
                                                +formatDate(currentSong.createdOn) 
                                          p Current song image is :

                                          if currentSong.image == "" || currentSong.image == null
                                            img.card-img-top(src="../../images/notfound.jpg" style='width:500px; height:500px;')
                                          else 
                                            img.card-img-top(src=currentSong.image style='width:500px; height:500px;')
                                                                                                                            