extends layout 

block content 
   center
        p Current food is : #{currentSong.track} 
        
        p Current food type is : #{currentSong.artistname} 

        p Current food type is : #{currentSong.price}  

        p Current food type is : #{currentSong.description}   

        p Current food type is : #{currentSong.image}  