extends layout 

block content 
   
   center
   h1 Product List 
        div.mar
            div.shadow-lg.p-3.bg-white.rounded.m-5
             Center 
                 Div  
                    //- h1 Lattest Release
                    div.row
                            .col-12.c.ml- 
                                div.card.shadow-sm.mb-5.bg-white.rounded.text-decoration-none 
                                        div 
                                          p Current song  is : #{currentSong.track} 
                                          
                                          p Artist Name is : #{currentSong.artist_name} 

                                          p Current song price is : #{currentSong.price}$ 

                                          p Current song description is : #{currentSong.description}   
                                          p Current song image is :

                                          img.card-img-top(src=`../../images/${currentSong.image}` style='width:500px; height:500px;')

                                          p #{currentSong.image}  