extends layout

block content
    
    h1.text-center.mt-5.display-4 Available Songs
    p 
        a.bg-info.btn.btn-secondary(href=`/create`) Add New Song
    br
    
    div.shadow-lg.bg-white.rounded.m-5
        .row.gx-5.gy-5.row-cols-1.row-cols-md-2.row-cols-lg-3.row-cols-xl-4
            each e in song
                .column.align-self-center
                    .card
                        //h4.card-title #{e._id}
                        //a(href=`/e/${e.image}`)                       

                    - var source = e.src
                    a(href=`/song/${e._id}`)=e.name
                        if e.image == "" || e.image == null
                            img.card-img-top(src="../../images/notfound.jpg" style='width:100%; height:100%;')
                        else 
                            img.card-img-top(src=`../../images/${e.image}` style='width:100%; height:100%;')
                        .card-body.text-center
                            h4.card-title #{e.track}
                            //small by
                            h3.card-text by #{e.artist_name}
                            br
                            a.bg-info.btn.btn-secondary(href="#") $#{e.price}
                            a.bg-info.btn.btn-secondary(href='') Buy Or Rent
